/* Single Products Styling */
.single-product {
  margin-top: 80px;
}
.single-product .col-2 img {
  padding: 0px;
}
.single-product .col-2 {
  padding: 20px;
}
@media only screen and (max-width: 600px) {
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  margin-top: 20px;
  padding: 10px;
  display: block;
}
.single-product input {
  height: 40px;
  width: 50px;
  padding: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
.single-product input:focus {
  outline: none;
}
.single-product .fa-circle-info {
  color: #ff523b;
  margin-left: 10px;
  cursor: pointer;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
